S01_data_preparation_fja05680/sp500-master
S01_data_preparation_fja05680/sp500-master.zip
S01_data_preparation_fja05680/fja_dates_unique_tickers_presence.mat
S01_data_preparation_fja05680/fja_unique_tickers

S02_data_download/data_csv
S02_data_download/data_csv_backup
S02_data_download/stage_csv
S02_data_download/alpha_vantage_keys

S03_data_preparation/av_tables.mat
S03_data_preparation/fja_dates_retime_fja_unique_tickers_8_presence.mat
S03_data_preparation/longest_history.mat
S03_data_preparation/trading_dates_fja_unique_tickers_8_presence.mat

S04_data_backtest/export_fig_lib
S04_data_backtest/plots
S04_data_backtest/portfolios.mat
